#nav-left{
	float:left;
}
#nav-right{
	float:right;
}
#google-logo{
	 position: fixed;
  top: 30%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  width: 350px;
}
#feelgood{
	 position: fixed;
  top: 52%;
  left: 50%;
  margin-left: -100px;
}
#searchbar{
	margin: 0;
	padding: 10px;
	max-width: 40%; 
	border: 2px solid lightgrey;
	border-radius: 45px;
	 position: fixed;
  top: 40%;
  left: 45%;
  margin-left: -100px;
}

#searchbar:hover{
	box-shadow: 2px 6px 4px lightgrey;
}

#ico-magnifier{
	margin: 0;
	padding: 0;
	display: inline;
	width: 20px;
	height: auto; 
}

#ico-mic{
	margin: 0;
	padding: 0;
	display: inline;
	width: 20px;
	height: auto; 
}


#search-input{
	margin: 0;
	padding: 0;
	display: inline;
	width: 350px;
	border: none;
	
}
footer{
	display: inline;
	height: 120px;
	background-color:  #d9dedb;
	bottom: 0;
	right: 0;
	left: 0;
	top: 50px;
}
#footer-leftbottom{
	 position: fixed;
  top: 92%;
  left: 10%;
  margin-left: -100px;
}
#footer-rightbottom{
	 position: fixed;
  top: 92%;
  right: 10%;
  margin-left: -100px;
}
#languages{
	 position: fixed;
  top: 60%;
  left: 50%;
  margin-left: -100px;
}